ul.options {
  background-color: white;
  opacity: 0.9;
  display: block;
  list-style: none;
  left: 33%;
  width: 32rem;
  transition: width 0.3s;
  margin: auto;
  position: absolute;
  z-index: 10;
}

ul.options li {
  display: block;
  background: white;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 2px;
}
ul.options li:hover {
  font-weight: bold;
  color: darkorange;
  cursor: pointer;
  transition: 0.3s all;
}

ul.options li.option-active {
  background: whitesmoke;
  font-size: 1.5rem;
  color: darkorange;
}
.no-options {
  color: white;
}

.logoSearch {
  text-align: center;
}

.searchForm input {
  /* margin-top: 10vh; */
  /* margin-top: 9px;
  margin-left: 30px;
  margin-bottom: 9px; */
  margin:auto;
  padding-right: 10px;
  padding-left: 1.5%;
  border: 1px solid darkorange !important;
  border-top-left-radius: 80px !important;
  border-bottom-left-radius: 80px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
  width: 42%;
  outline: none;
  background-color: rgba(255, 140, 0, 0.3);
  font-size: 8vh;
  transition: all 800ms ease;
  /* text-align:center; */
}

.searchForm input:focus{
    width: 80%;
    padding-left: 5%
    
}

/* .logoSearch form input::-webkit-search-cancel-button{
    background: darkorange;
    color:darkorange;
} */

.searchForm button {
    position: relative;
    padding:0 1%;
  background: darkorange;
  border: 1vh solid darkorange;
  /* margin: 0  0 10px 0; */
  left: -2.7%;
  top: 0.6vh;
  border-top-left-radius: 100% !important;
  border-bottom-left-radius: 100% !important;
  border-top-right-radius: 100% !important;
  border-bottom-right-radius: 100% !important;
  cursor: pointer;
  transition: 0.1s;
  font-size: 10vh;
}

.searchForm button:active {
    border-color: rgb(255, 174, 74);
    background-color:rgb(223, 122, 0);
    /* pointer-events: visible; */
}

.search {
  /* display: inline-flex; */
  margin:auto;
  width:100%;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance:none;
  /* -webkit-text-fill-color: darkorange; */
  /*Your new styles */
  /* height: 10px;
  width: 10px;
  background: red; */
}
