/* #editor{
    width:50%;
} */
.grid-container-edit {
  display: grid;
  grid-template-areas:
    "picture addname rating"
    "addpicture addprofession rating"
    "editaboutme editaboutme editaboutme"
    "addservices addservices addservices"
    "addcv addcv addcv"
    "Calendar Calendar Calendar";
  text-align: center;
  align-items: center;
  border: 10px groove darkorange;
}

.AddPicture {
  grid-area: addpicture;
}

.AddName {
  grid-area: addname;
  text-align: left;
}

.AddProfession {
  grid-area: addprofession;
  text-align: left;
}

.EditAboutMe {
  margin-top: 50px;
  grid-area: editaboutme;
}

.RatingOnEdit {
    grid-area: rating;
}

.Calendar {
  margin-top: 100px;
  grid-area: Calendar;
}

.AddServices {
    grid-area: addservices;
}

.AddCV{
    grid-area: addcv;
}

#updatebtn{
    position:fixed;
    bottom: 2vh;
    right: 10%;
}

/* MODAL GRID */

#modal-content {
  display: grid;
  grid-template-areas: "calendar results" "calendar services" "calendar choices";
  height: 100%;
}

#calendar {
  position: relative;
  margin-top: 25%;
  left: 25%;
  grid-area: calendar;
}

#results>ul {
  grid-area: results;
  height: 200px;
  overflow-y: scroll;
}

#modal-services {
  grid-area: services;
}

#modal-choices {
  grid-area: choices;
}

#cancel-modal {
  margin-left: 50px;
}