/* #editor{
    width:50%;
} */
.grid-container-edit {
  display: grid;
  grid-template-areas:
    "picture addname rating"
    "addpicture addprofession rating"
    "editaboutme editaboutme editaboutme"
    "addservices addservices addservices"
    "addcv addcv addcv";
  text-align: center;
  align-items: center;
  border: 10px groove darkorange;
}

.AddPicture {
  grid-area: addpicture;
}

.AddName {
  grid-area: addname;
  text-align: left;
}

.AddProfession {
  grid-area: addprofession;
  text-align: left;
}

.EditAboutMe {
  grid-area: editaboutme;
}

.RatingOnEdit {
    grid-area: rating;
}

.AddServices {
    grid-area: addservices;
}

.AddCV{
    grid-area: addcv;
}

#updatebtn{
    position:fixed;
    bottom: 2vh;
    right: 10%;
}