/* #editor{
    width:50%;
} */
.header{
    z-index: 100;
}

.grid-container-edit {
  display: grid;
  grid-template-areas:
    "picture addname rating"
    "addpicture addprofession rating"
    "editaboutme editaboutme editaboutme"
    "addservices addservices addservices"
    "addcv addcv addcv"
    "Calendar Calendar Calendar";
  text-align: center;
  align-items: center;
  border: 10px groove darkorange;
}

.picture {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 150px;
  padding: 10px;
}
.AddPicture {
  grid-area: addpicture;
}

.AddName {
  grid-area: addname;
  text-align: left;
}

.AddProfession {
  grid-area: addprofession;
  text-align: left;
}

.EditAboutMe {
  margin: 50px 10px;
  grid-area: editaboutme;
}

.RatingOnEdit {
    grid-area: rating;
}

.Calendar {
  margin-top: 100px;
  grid-area: Calendar;
}

.AddServices {
    margin-bottom: 50px;
    grid-area: addservices;
}

.AddCV{
    grid-area: addcv;
}

.ListAdder{
    margin: auto;
    width: 80%;
}

#updatebtn{
    position:fixed;
    bottom: 2vh;
    right: 10%;
}

/* MODAL GRID */

#modal-content {
  display: grid;
  grid-template-areas: "calendar results" "calendar services" "calendar choices";
  height: 100%;
  width: 75%;
  margin: 0 auto 150px;
}

#calendar {
  position: relative;
  margin-top: 25%;
  left: 25%;
  grid-area: calendar;
}

.hourDetails{
    display: inline-flex;
}

.hourDetails span{
    margin-right: 24px;
}

.hourDetails input{
    width: 40px;
    
}

#dayoff{
    background-color:steelblue;
    border-color: steelblue;
}

#results>ul {
    list-style: none;
    text-align: center;
    grid-area: results;
    height: 200px;
    overflow-y: scroll;
    margin: auto;
    padding-left: 0%;
    margin: 2% 10% 0
}
#results li{
    border: solid 1px black;
    border-radius: 5px;
}

#modal-services {
  grid-area: services;
}

#modal-choices {
  grid-area: choices;
}

#cancel-modal {
  margin-left: 50px;
}