
footer {
    padding-top: 50px;
    background: #222;
    color: #fff;
    text-align: center;
}

footer h1 {
    font-size: 15px;
    margin: 25px 0;
}

footer p {
    font-size: 12px;
}

footer input{
    width: 300px;
    max-width: 22vw;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}

footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.media {
    margin: -20px 0;
    justify-content:center;
}
.media ul{
    padding-inline-start: 0px;
}
.media ul li {
    display: inline;
    margin: 0 5px;
}

.aueb,
.eclass,
.fb,
.insta {
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    border-radius: 25px;
}

.fb:hover,
.insta:hover,
.aueb:hover,
.eclass:hover {
    opacity: 1.0;
}

footer button {
    font-family: FontAwesome;
    background-color: darkorange;
    /* padding: 0 5px; */
    /* font-size: 19px; */
    border: 2px groove #fff;
    transition: all 0.1s ease;
}

footer button:active {
    background-color: orangered;

}

footer .row a:any-link {
    text-decoration: none;
    color: white;
}

footer .row a:hover {
    color: orangered;
}
