.HomeCategory {
    height: 50px;
    width: 50px;
    background-color: #555;
    background-repeat: no-repeat;
    margin-right: 50px;
  }

  .HomeCategories{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */

  }