html {
  scroll-behavior: smooth;
}
.HomeContainer .header {
  width: 100%;
  position: fixed;
  top: -150px;
  transition: top 0.3s;
  z-index: 101;
  /* display: none; */
}

.logoSearch {
  text-align: center;
}

.logoSearch form {
  margin: 10vh 0 20vh;
}

p.desc {
  text-align: justify;
}

#homecategoriesScrollPoint {
  position: absolute;
  top: 65%;
}

.HomeCategories {
  width: 100%;
  height: 62vh;
  position: relative;
  margin: auto;
  margin-top: 5vh;
  /* margin-bottom: 18vh; */
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* default value; can be omitted */
  justify-content: center;
  /* transform: translate(-50%, -50%); */
  align-content: center;
  flex-direction: row; /*  default value; can be omitted */
  background-color: rgba(230, 230, 230, 0.486);
  /* border: solid 5px black; */
  /* border-radius: 10%; */
  padding: 5%;
  align-items: center;
}

/* ----------------categbgcolor---------------- */

.rightCat,
.centerCat,
.leftCat {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 3%;
  opacity: 70%;
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* default value; can be omitted */
  /* transform: translate(-50%, -50%); */
  align-content: center;
  flex-direction: row;
  /* row-gap: calc(50%*62vh); */
  /* column-gap: 10%; */
  /* border-radius: 10%; */
  transition: all 1s ease;
}

.rightCat {
  clip-path: polygon(0% 0%, 37.5% 0%, 25% 100%, 0% 100%);
  background-color: orangered;
  padding-left: 6vw;
  padding-right: 70vw;
  
}

.centerCat {
  clip-path: polygon(37.5% 0%, 62.5% 0%, 75% 100%, 25% 100%);
  justify-content: center;
  background-color: orange;
  padding: 3% 30%;
}

.leftCat {
  clip-path: polygon(62.5% 0%, 100% 0%, 100% 100%, 75% 100%);
  background-color: yellow;
  justify-content: flex-end;
  padding-right: 6vw;
  padding-left: 70vw;
}

.rightCat:hover,
.centerCat:hover,
.leftCat:hover {
  opacity: 100%;
}

.HomeCategories p {
  position: absolute;
  font-size: 3vh;
  font-weight: bolder;
  transition: all 1s ease;
  margin-top: -3%;
}

.rightCat p {
  margin-left: -5%;
}

/* .rightCat HomeCategory{} */

.centerCat p {
  text-align: center;
}

.leftCat p {
  float: right;
  margin-right: -5%;
}

.rightCat:hover p,
.centerCat:hover p,
.leftCat:hover p {
  font-size: 6vh;
}

/* ----------------endcategbgcolor---------------- */

.HomeCategory {
  /* size */
  height: 160px;
  width: 160px;
  min-width: 160px;
  /* max-width: 160px; */
  /* text */
  text-align: center;
  font-size: 21.3px;
  /* flex-basis: 20%; */
  /* border-radius: 20px; */
  /* margin: 0 4%; */
  border: 2px solid #fff;
}

.homeoverlay {
  position: absolute;
  height: 156.5px;
  width: 156px;
  /* background */
  background-size: 100% 100%;
  /* background-size:cover; */
  z-index: -1;
}

.HomeCategory,
.homeoverlay {
  transition: all 0.5s ease;
}

/* ---------------------category shape------------------------- */

.HomeCategory.Odd {
  /* border-top-left-radius: 0px 0px; 
  border-top-right-radius: 0px 0px; 
  border-bottom-right-radius: 500px 1000px; 
  border-bottom-left-radius: 500px 1000px; */
  clip-path: polygon(0% 10%, 50% 100%, 50% 100%, 100% 10%);
  margin-bottom: 5%;
}

.HomeCategory.Even {
  /* border-bottom-left-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  border-top-right-radius: 500px 1000px;
  border-top-left-radius: 500px 1000px; */
  clip-path: polygon(50% 0%, 0% 90%, 100% 90%, 50% 0%);
  /* border-radius: 20px; */
  margin-top: 5%;
}

.rightCat:hover .homeoverlay,
.centerCat:hover .homeoverlay,
.leftCat:hover .homeoverlay {
  filter: blur(3px);
}

.HomeCategories:hover #catName {
  z-index: 110 !important;
  filter: blur(0px) !important;
}

.HomeCategory:hover {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  border-radius: 15px;
  z-index: 100;
  filter: blur(0px) !important;
  /* margin: 5% 5%; */
}

.HomeCategory:hover .homeoverlay {
  /* height: 156.5px; */
  /* width: 156px; */
  border-radius: 12px;
  filter: blur(0px) !important;
}

/* ---------------------end category shape------------------------- */

#catName {
  /* display: none; */
  color: #000;
  outline: 2px dotted #000;
  background-color: #fff;
  transition: all 0.5s ease;
}

.Odd #catName {
  margin: 14px 0 0 0;
}

.Even #catName {
  margin: calc(90% - 30px) 0 0 0;
}

.HomeCategory:hover #catName {
  margin-top: 50%;
  outline: none;
  /* text-decoration-style: none; */
}

.HomeCategory a:hover,
.HomeCategory a:link {
  color: #000 !important;
}

/* ------------------Login------------------ */

#login {
  position: absolute;
  font-size: 36px;
  top: 40px;
  left: 95%;
  border: 7px groove darkorange;
  color: darkorange;
  background-color: #000;
}

/* ------------------Step Sections------------------ */

.Steps {
  grid-area: step;
  height: 100vh;
  width: auto;
}

.Steps img {
  background-color: #000;
  border: 5px groove black;
  margin: 30vh 10vw 0;
}

.Steps h1 {
  margin: 0 10vw 0;
  float: left;
}

.Step3 {
  background-color: rgb(255, 207, 148);
}
.Step4 {
  background-color: rgb(216, 141, 114);
}
.Step5 {
  background-color: rgb(219, 139, 73);
}

.Step4 img,
.Step3 h1,
.Step5 h1 {
  float: right;
}

.grid-container-righttext {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "Logo stepTitle"
    "Logo desc";
  grid-gap: 10px;
  /* background-color: red; */
  width: 100%;
  justify-content: center;
  align-content: center;
  /* text-align: center;
  align-items: center; */
}

.grid-container-lefttext {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "stepTitle Logo"
    "desc Logo";
  grid-gap: 10px;
  /* background-color: red; */
  width: 100%;
  justify-content: center;
  align-content: center;

  /*align-items: center; */
}

.desc {
  grid-area: desc;
  font-size: 2vw;
}

.Logo {
  grid-area: Logo;
}

.stepTitle {
  grid-area: stepTitle;
}

#moto1 {
  font-size: 4vw;
}

#moto2 {
  font-size: 2vw;
}

#moto3 {
  font-size: 3.5vw;
}
