body {
  overflow-x: hidden;
}

.logoSearch {
  text-align: center;
}

.logoSearch form {
  margin-top: 10vh;
}

.HomeCategory {
  /* size */
  height: 120px;
  width: 120px;
  min-width: 120px;

  /* text */
  font-size: max(1.2vw, 16px);

  /* word-wrap: normal; */
  text-align: center;
  /* background */
  background-size: 100% 100%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 50px;
  flex-basis: 120px; 
}

#catName{
    margin: 80px 10px 0 10px;
    color: #000;
    outline: 2px dotted #000;
    background-color: #fff;
}

.HomeCategories {
  /* flex-basis: 20%; */
  width: 40%;
  position: relative;
  margin-top: 10vh;
  left: 35%;
  /* transform: translate(-50%, -50%); */
  align-items: center;
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: wrap; /* default value; can be omitted */
  /* order: 3; */
}

#login {
  position: absolute;
  top: 5%;
  left: 90%;
}
