
#center-div{
    margin-top: 2.5%;
    margin-left: 25%;
    height:75%;
    width:50%;
    background-color: black;
    text-align: center;
    border-radius: 25px;
    border: 10px groove darkorange;
}

@media only screen and (max-width: 800px) {
    #center-div{
        margin:auto;
        width:100%;
        height:100%;
    }

    #center-div form{
        padding:0;
    }
}

#center-div form{
    padding-top:2.5%;
    padding-bottom:5%;
}

#center-div h2{
    color:aqua;
}

#center-div h4{
    color:darkorange;
}

#sign_up_div input,#sign_in_div input{
    width: 50%;
    padding: 5px;
    margin: 0;
}



