.grid-container {
    display: grid;
    /* border: 3px groove orangered; */
    border: 3px double cyan;
    grid-template-areas: 'picture info info' 'aboutme aboutme aboutme' 'box box box' 'services services services' 'cv cv cv' 'reviews reviews reviews';
    grid-gap: 10px;
    background-color: white;
    width: 100%;
    text-align: center;
    align-items: center;
}

.core {
    width: 60%;
}

.line {
    background-color: #000000;
    height: 10px;
    width: 100%;
}

.box {
    /* create flexbox */
    grid-area: box;
    display: flex;
    flex-direction: column;
    /* make it scrollable */
    max-height: 300px;
    overflow-y: scroll;
    /* make it round  */
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.box h2 {
    border-bottom: 2px solid #b03535;
    float: left;
    max-width: 200px;
}

.Modal {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50vh;
    width: 50%;
    background-color: papayawhip;
}

#rating {
    height: 50%;
    padding-top: 8px;
    margin-left: 10px;
}

.grid-container>div {
    /* border: 3px solid; */
    border-radius: 20px;
    font-size: 30px;
}

.picture {
    grid-area: picture;
}

.picture img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 150px;
}

.info {
    grid-area: info;
    font-Size: "15";
    text-align: left;
    margin-left: 15%;
    text-align: center;
}

.aboutme {
    grid-area: aboutme;
    margin: 70px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: #0d6aa8;
}

.services {
    grid-area: services;
}

.appointment {
    grid-area: appointment;
}

.cv {
    grid-area: cv;
}

.reviews {
    grid-area: reviews;
}

/* MODAL GRID */

#modal-content {
    display: grid;
    grid-template-areas: "calendar results"
                     "calendar choices";
    height: 100%;
}

#calendar {
    position: relative;
    margin-top: 25%;
    left: 25%;
    grid-area: calendar;
}

#results>ul {
    grid-area: results;
    height: 200px;
    overflow-y: scroll;
}

#modal-choices {
    grid-area: choices;
}

#cancel-modal{
    margin-left:50px;
}