.Professionals {
  grid-area: Professionals;
  text-align: center;
}
.ProfessionalBlock {
  /* grid-template-areas:
    "ProfilePic ."
    "Rating ."
    "info info"; */
  /* display: grid; */
  
  height: 25vh;
  width: 60vw;
  left: 20%;
  background-color: black;
  margin: 20px;
  border-radius: 25px;
  border: 5px solid orangered;
  overflow: scroll;
  /* grid-template-columns: 70% 30%; */
}

.ProfessionalBlock > div {
  text-align: left;
}

.info {
  grid-area: info;
  color: cadetblue;
  font-size: 1vw;
  text-align: left; 
}

.ProfessionalBlock > a:hover {
  color: crimson;
}

.ProfilePic{
  display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}


.leftside {
  /* grid-area: ProfilePic; */
 
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 150px;
  margin: 10px;
  
}

.caption {
  
  font-size: 1vw;
}

.leftside > img {
  
  width: 80%;
  height: 70%;
  border: 1px orangered solid;
  border-radius: 50%;
}

.ProfList {
  grid-area: ProfList;
  list-style-type: circle;
  padding: 20px;
  border: 5px solid orangered;
  list-style-position: inside;
  
  text-align: left;
  border-radius: 25px;
  overflow:auto;
  float: left;
}

.ProfList li:hover {
  color: orangered;
  font-size: 1em;
}


.grid-container-prof {
  grid-template-areas: "ProfList Professionals";
  display: grid;
}

.flexboxresults{
  display: flex;
  align-items: baseline;
  flex-direction: row;
 
}

/* .Rating {
  grid-area: Rating;
}

.namesurname {
  grid-area: namesurname;
} */


.header #profile {
  border-radius: 30vw;
}

.header #logo {
  text-align: left !important;
  top: 0%;
  left: 5%;
}

.header {
  background-color: rgb(255, 255, 255);
  text-align: right;
  display: flex; /* establish flex container */
  border-bottom: 5px solid #000;
  align-items: center;
  justify-content: space-between;
}

.header .search {
  margin: auto;
  margin-right: 328px;
  display: block;
  text-align: center;
  width: 100%;
}

