.Professionals{
    text-align: center;
}
.ProfessionalBlock{
    position: relative;
    float: center;
    height: 100px;
    width: 60%;
    left:20%;
    background-color: aqua;
    margin:20px;
    border-radius: 30px;
  }

.ProfilePic{
    border-radius: 30px;
    position:relative;
    width:15%;
    height:100%;
    float:left;
}

#profile{
    border-radius: 30px;
}

#logo {
    text-align: left !important;
    top:0%;
    left:5%
}



.header{
    background-color: rgb(255, 255, 255);
    text-align: right;
    display: flex;                  /* establish flex container */
    border-bottom: 5px solid #000 ;
    align-items: center;
    justify-content: space-between;
}

.header form{
    text-align: left;
    width:100%;
}

