.Professionals {
  text-align: center;
  margin-left: 69px;
}
.ProfessionalBlock {
  height: 100%;
  width: 60vw;
  left: 20%;
  background-color: lightgrey;

  border-radius: 25px;
  border: 10px groove darkorange;
  overflow: hidden;
  margin: 20px;
}

.ProfessionalBlock > div {
  text-align: left;
}

.info {
  grid-area: info;
  color: rgb(0, 0, 0);
  font-size: 1vw;
  text-align: left;
}

/* .ProfessionalBlock > a:hover {
  
} */



a:hover .caption, a:hover h2, a:hover{
  color: darkorange;
  text-decoration:none !important; 
}

.ProfilePic {

    object-fit: cover;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.leftside {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 150px;
  margin: 10px;
}

.caption {
  font-size: 1vw;
}


.ProfList {
  grid-area: ProfList;
  list-style-type: circle;
  padding: 20px;
  border: 10px groove darkorange;
  list-style-position: inside;
  background-color: lightgrey;
  text-align: left;
  border-radius: 25px;
  overflow: auto;
  float: left;
  margin-left: 35px;
  top: 22vh;
  position: sticky;
  margin-top: 1%;
  /* z-index: -1; */
}

.ProfList a:hover,
.ProfList li:hover {
  color: orangered;
  font-size: 1em;
}

.grid-container-prof {
  grid-template-areas: "ProfList Professionals";
  display: grid;
}

.flexboxresults {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

/* -------------header------------- */

.header #profile {
  border-radius: 30vw;
}

.header #logo {
  text-align: left !important;
  top: 0%;
  left: 5%;
}

.header {
    z-index: 1;
  background-color: rgb(255, 255, 255);
  text-align: right;
  display: flex; /* establish flex container */
  border-bottom: 5px solid #000;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.header .search {
  margin: auto;
  margin-right: 328px;
  display: block;
  text-align: center;
  /* width: 100%; */
}

.header .search input{ 
    font-size: 4vh;
}
.header .search button{
    font-size: 5vh;
    padding:0 0.5vw;
    top: 0.3vh;
}
.header ul.options, .no-options {
     top: 15vh;
      width: 40%;
      left: 30%;
}

.flexboxresults h1{
    margin: 10vh auto;

}

.resultsDiv footer{
   
    margin-top: 15vh;
}