.room-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: auto;
  
    /* background-color: rgb(0, 0, 0); */

}

.video-container {
  background-color: rgb(0, 0, 0);
  height: 60vh;
  width: 73%;
  float: left;
  position: relative;
}

.video-container video {
  background-color: rgba(255, 94, 0, 0.5);
  background-image: url("https://cdn.osxdaily.com/wp-content/uploads/2013/12/there-is-no-connected-camera-mac.jpg");
  background-position: center;
  /* grid-row-start: 1;
  grid-column-start: 1;
  object-fit: fill; */
}

.topDiv {
  margin: auto;
  display: block;
  height: auto;
  width: 73%;
}
/* #myVideo{
    z-index: 100;
} */

.bottomDiv {
  /* cursor: move; */
  /* display: block; */
  /* float: right; */
  /* margin-left: 85%; */
  position: absolute;
  top: 0;
  width: 15%;
  /* z-index: 100; */
}

.room-buttons {
  /* margin-left: 40%; */ 
  background-color: #000;
  margin: auto;
  display: block;
  width: 100%;
  height: 50px;
  z-index: 100;
  margin-top: -5%;
  text-align: center;
}


.room-buttons button {
  position: relative;
  background-color: rgba(255, 94, 0, 0.5);
  /* grid-row-start: 1;
  grid-column-start: 1; */
  /* object-fit: fill; */
  /* background: lightgray; */
  border-radius: 20px;
  margin: 0% 1%;
  opacity: 0;
  font-size: xx-large;
}

.video-container:hover .room-buttons button {
    opacity: 1; 
    margin-top: -5%;
    transition: 0.5s;
}

/* .camera {
  margin-right: 25px;
}

.mute {
  margin-left: 30%;
}
*/
.screen, .mute {
  margin-left: 21px;
} 

/* --------------------------------chat build-------------------------------- */

#chat {
  float: right;
  position: relative;
  /* margin-left: 65%; */
  width: 27%;
  height: 100%;
  background: rgb(0, 0, 0);
  text-align: center;
  max-width: 728px;
  /* margin: 0 auto; */
}

#chat header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

#chat section {
  /* position: fixed; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 99vh;
  background-color: rgb(40, 37, 53);
}

#chat main {
  padding: 10px;
  height: 64vh;
  margin: 20vh 0 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
    /* z-index: 99; */

}

#chat main div{
    display:inline-flex;
    margin-bottom: 20%;
}

#chat main::-webkit-scrollbar {
  width: 0.25rem;
}

#chat main::-webkit-scrollbar-track {
  background: #1e1e24;
}

#chat main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

#chat form {
  height: 10vh;
  /* position: fixed; */
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
  margin-top: 5vh;
}

#chat form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

#chat input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

#chat button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

#chat button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#chat ul,
#chat li {
  text-align: left;
  list-style: none;
}

#chat p {
    width: min(50%);
  max-width: 500px;
  /* margin-bottom: 12px; */
  margin-left: 12px;
  line-height: 24px;
  padding: 10px 40px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 1.2vw;
  z-index: 101;
  background-color: rgba(255, 140, 0, 0.39);
  border-top-left-radius: 3em 0.5em;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

#chat .message {
  display: flex;
  align-items: center;
}

#chat .sent {
  flex-direction: row-reverse;
}

#chat .sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
#chat .received p {
  background: #e5e5ea;
  color: black;
}

#chat img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

/* --------------------------------end of chat build-------------------------------- */

.room-bottom{
    position: absolute;
    background-color:#282c34;
    width: 100%;
    height: 100%;
    z-index: -1;
}